@import url("./font-awesome-4.7.0/css/font-awesome.css"); 
/* FOR ALL TEXTS AS: PREVIEW AND DETAILS */
@font-face {
    font-family: "BiggerLove";
    src: url(../fonts/BiggerLove.ttf);
}

@font-face {
    font-family: "Cutie Patootie";
    src: url(../fonts/CutiePatootie.ttf);
}
/* FOR LOGO NAME */
@font-face {
    font-family: "Digitalt";
    src: url(../fonts/Digitalt.ttf);
}

@font-face {
    font-family: "RainbowBridge";
    src: url(../fonts/RainbowBridge.ttf);
}
/* FOR YOU HAVE A MATCH */
@font-face {
    font-family: "SweetHipster";
    src: url(../fonts/SweetHipster.ttf);
}


body,
html {
    height: 100%;
}
body {
    background-color: red; 
}
footer {
    height: 150px;
    /* background-color: #000000b8; */
    background-color: black;
}

.tinder--cards{
    font-family: "BiggerLove";
    font-size: 5em;
    padding: 0px;
    margin: 0px;
    color: lightslategray;
}

/* .tinder--cards img{
    -webkit-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    margin-bottom: 0px;
} */

button .info {
     
}

/* HELPERS */
/* 
.absolute {
    position: absolute; 
} */