@import url("./font-awesome-4.7.0/css/font-awesome.css"); 
/* 
@import url("./font-awesome-5.0.11/css/font-awesome.css");  */

/* FOR ALL TEXTS AS: PREVIEW AND DETAILS */
@font-face {
    font-family: "BiggerLove";
    src: url(../fonts/BiggerLove.ttf);
}

@font-face {
    font-family: "CutiePatootie";
    src: url(../fonts/CutiePatootie.ttf);
}
/* FOR LOGO NAME */
@font-face {
    font-family: "Digitalt";
    src: url(../fonts/Digitalt.ttf);
}

@font-face {
    font-family: "RainbowBridge";
    src: url(../fonts/RainbowBridge.ttf);
}
/* FOR YOU HAVE A MATCH */
@font-face {
    font-family: "SweetHipster";
    src: url(../fonts/SweetHipster.ttf);
}


body,
html {
    height: 100%;
}
body {
    /* background-color: red;  */
    background-image: url(../public/img/bgrd/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
    /* background-image: url(""); */
}
footer {
    height: 150px;
    /* background-color: #000000b8; */
    background-color: black;
}
router-link, #nav, #app {
    text-decoration: none;
}
/* 
.tinder--cards{
    font-family: "BiggerLove";
    font-size: 5em;
    padding: 0px;
    margin: 0px;
    color: lightslategray;
} */

/* .tinder--cards img{
    -webkit-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
    margin-bottom: 0px;
} */


/* HELPERS */
/* 
.absolute {
    position: absolute; 
} */

.tinder--cards {
    font-family: "BiggerLove";
}

.logo {
    font-family: "Digitalt";
}

.register-page, .login-page, .match-page {
    font-family: "BiggerLove";
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
    margin: 5px;
}
.register-page input, .login-page input, .edit-page input{
    max-width: 30%;
    font-family: "CutiePatootie";
    font-weight: bold;
    font-size: 18px;
    padding: 2px;
    letter-spacing: 1px;
}
.register-page button, .login-page button, .match-page button{
    font-family: CutiePatootie;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 150%;
    width: 150px;
}
.profile-pics {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid red;
    margin: 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(31, 7, 7, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }