body {
    max-width: 600px;
    margin:auto;
    font-family: Shadows Into Light;
}

.main-title {
    text-align: center;
    color:rgba(36, 7, 7, 0.685);
    font-size: 3rem;
}

.alert {
    color:white;
    padding: 10px;
    font-size: 1.4em;
    position: absolute;
    top:0;
    right:0;
    background-color: grey;
}

.alert-success {
    background-color: rgb(15, 122, 15);
}
.alert-danger {
    background-color: rgb(122, 11, 11);
}

/*   CHAT start */
.chat-page * { margin: 0; padding: 0; box-sizing: border-box; }
body .chat-page  { font: 13px Helvetica, Arial;  }
.chat-page form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
.chat-page form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
.chat-page form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.chat-page .msgs { list-style-type: none; margin: 0; padding: 0; }
.chat-page .msgs li { padding: 5px 10px; }
.chat-page .msgs li:nth-child(odd) { background: #eee; }
/*   CHAT end */




